//because mat-table causes issues when getting to small
//with :host, we can style the component itself from within the component
:host{
  min-width:450px;
}
mat-card{
  --wed-login-margin:1rem;
  --wed-login-font-size:1rem;
}

.full-width{
  width:100%;
}

.loginButton{
  font-size:var(--wed-login-font-size);
  margin-top:var(--wed-login-margin);
}

.mat-card{
  margin:var(--wed-login-margin);
  padding:0;
}

mat-card-content{
  padding:var(--wed-login-margin);
  font-size:var(--wed-login-font-size);
}

mat-form-field{
  margin-bottom:var(--wed-login-margin);
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  display:flex;
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-header-item{
  flex-grow:1;
}

// special override with ::ng-deep of existing material UI element
// material ui's form-field is fixed on width:180px, which can cause
// issues on mobile screens
// this could be used in other places as well make the application truly responsive
:host ::ng-deep .mat-form-field-infix{
  width:auto;
}

.margin-left{
  margin-left:16px;
}


mat-table{
  overflow:auto;
  // Because of available paging
  max-height: 550px;
}
// Be aware that this kind of import makes it impossible to share this component or module separately
// i.e. to global styles.scss has to be available, if you want it to be shareable on its own
// use a fix value or a special scss function to determine if styles.scss available and if not, use a default value
@import '../../../../styles';
.mat-header-row {
  position: sticky;
  top: 0;
  background: mat-color($candy-app-primary);
}

.mat-header-cell{
  color:mat-color($candy-app-primary,50);
}

