.full-width{
  width:100%;
}

.loginButton{
  margin-top:16px;
}

.mat-card{
  width:50%;
  margin:32px auto;
  padding:0;
}

mat-card-content{
  padding:16px;
}

mat-form-field{
  margin-bottom:8px;
}
