<!-- TODO: Add ng specific directives/validation settings and add styling -->
<form (ngSubmit)="doLogin(null)">
  <label>
    User name:
    <div>
      <input pattern=".{3,}" placeholder="User" type="text" name="login">
      <div>Please specify your login, at least three characters.</div>
    </div>
  </label>
  <label>
    Password:
    <div>
      <input pattern=".{3,}" placeholder="Password" type="password" name="password">
      <div>Please specify your login, at least three characters.</div>
    </div>
  </label>
  <button>Login</button>
</form>
