.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.margin-right{
  margin-right:16px;
}

@import '../../styles';

.active-link{
  background: mat-color($candy-app-primary,700);
}
.active-raised-link{
  background: mat-color($candy-app-accent);
}
