// some of these can be exported to a common css, login, payment and transaction almost use identical rules
mat-card{
  --wed-login-margin:1rem;
  --wed-login-font-size:1rem;
}

.newPaymentButton{
  font-size:var(--wed-login-font-size);
  margin-top:var(--wed-login-margin);
}

.mat-card{
  margin:var(--wed-login-margin);
  padding:0;
}

mat-card-content{
  padding:var(--wed-login-margin);
  font-size:var(--wed-login-font-size);
}
